# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
terraform.tfvars
*.tfplan
variables.tf

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
**/.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Logs
*.log

# Temporary files
*.tmp
*.temp

# Local folders (環境固有の設定)
helm_local/
k8s_local/
